
/* Kotak */

.fotoRincian img {
    width: 150px !important;
    height: 150px !important;
}

.tes img {
    width: 150px !important;
    height: 150px !important;
}

.info-box {
    padding:15px 20px;
    color:#ffffff;
}

.info-box .icon {
    font-size: 48px;
    margin-right: 20px;
    margin-bottom:20px;
}
.info-box .title {
    font-size:16px;
    margin-bottom:3px;
}

.info-box .content {
    text-align: left;
    font-size:22px;
    line-height: 22px;
}

@font-face {
    font-family: PTSans;
    src: url(fonts/PTSans.otf);
	src: url(fonts/PTSans.woff);
}

#adminnav .navbar {
    border:0px;
}

#content h1 {
	margin-top:0px;
}

.admin-photo {
	height:150px;
}

.view-photo {
	height:250px;
}

.update-photo {
	height:100px;
}

.block {
	font-family:PTSans;
}


table a{
   color: #000 !important;
}    

table a:hover {
    color: #00723A !important;
}





/* 
==================
   ADMIN COLOR ICON
==================
 */

.icon {
    font-size: 15px;
}


/* 
==================
	HEADER MENU
==================
 */

.header {
	background-color: #EFEFEF;
}

.logo {
	margin: 20px 0px 20px 30px;

}

.logo img {

}


/* 
==================
    SIDEBAR MENU
==================
 */

#leftMenu .left-menu-style a{
   color: #47A447;
   font-size: 14px;
}    

#leftMenu .left-menu-style a:hover {
    color: #00723A;
    background-color: #c7e7c7;
}

#leftMenu .left-menu-style.active a {
    background-color: red !important;
}

.dropdown-menu>.active>a {
    background-color: #c7e7c7 !important;
}





/* 
==================
	NAVBAR MENU
==================
 */

.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    
}
.navbar-default {
    background-color: rgba(36, 114, 241, 1);
    background: -webkit-linear-gradient(top, rgba(0,151,76, 1) 0%, rgba(0,113,57, 1) 100%);
    background: linear-gradient(to bottom, rgba(0,151,76, 1) 0%, rgba(0, 113, 57, 1) 100%);
    border-width: 1px;
    font-size: 14px;
    border-radius: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;

}
.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 0, 0, 1);
    background: -webkit-linear-gradient(top, rgba(0,132,67, 1) 0%, rgba(0,94,48, 1) 100%);
    background: linear-gradient(to bottom, rgba(0,132,67, 1) 0%, rgba(0,94,48, 1) 100%);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 0, 0, 1);
    background: -webkit-linear-gradient(top, rgba(0,132,67, 1) 0%, rgba(0,94,48, 1) 100%);
    background: linear-gradient(to bottom, rgba(0,132,67, 1) 0%, rgba(0,94,48, 1) 100%);
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #2472f1;
}


#content .primary {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a3130+0,207770+49,125554+51,125554+100 */
background: #0a3130; /* Old browsers */
background: -moz-linear-gradient(top,  #0a3130 0%, #207770 49%, #125554 51%, #125554 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0a3130 0%,#207770 49%,#125554 51%,#125554 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0a3130 0%,#207770 49%,#125554 51%,#125554 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3130', endColorstr='#125554',GradientType=0 ); /* IE6-9 */

}

#pengaturan th {
    background-color: #00994d;
}

#nama-pengaturan {
    text-transform: capitalize;
}


/* 
==================
   FOOTER 
==================
 */

 #footer {   
    margin-top:30px;
    text-align:center;
    padding:10px;
    color:#ffffff;
    font-size:14px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a3130+0,125554+100 */
   background: -webkit-linear-gradient(top, rgba(0,151,76, 1) 0%, rgba(0,113,57, 1) 100%);
    background: linear-gradient(to bottom, rgba(0,151,76, 1) 0%, rgba(0, 113, 57, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3130', endColorstr='#125554',GradientType=0 ); /* IE6-9 */
}

