body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(34, 90, 162), rgb(12, 57, 33));
}

#content .panel-primary {
	border: #125554;
}

#content .panel-primary > .panel-heading {
	background: #125554;
	border: #125554;
	padding:20px 20px;
	font-weight: bold;
	text-align: center;
	margin-top: -70px;
}

#content .panel-primary > .panel-heading h3 {
	/* font-weight: bold; */
}

#site-login .btn-primary {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a3130+0,207770+49,125554+51,125554+100 */
background: #0a3130; /* Old browsers */
background: -moz-linear-gradient(top,  #0a3130 0%, #207770 49%, #125554 51%, #125554 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0a3130 0%,#207770 49%,#125554 51%,#125554 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0a3130 0%,#207770 49%,#125554 51%,#125554 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3130', endColorstr='#125554',GradientType=0 ); /* IE6-9 */
padding:10px 10px;
font-weight: bold;
}

.rememberMe {
	margin-bottom:10px;
}

@font-face {
    font-family: BebasNeue;
    src: url(fonts/bebasneue-webfont.woff);
}

#box
{
	position: absolute;
	left: 0;
	background-color: rgba(0,0,0,.4);
	color: white;
	font-weight: bold;
	width: 450px;
	padding: 10px;
	font-family: 'calibri';
	font-size: 25px;
}