.login-page{
	/*background: rgba(0, 0, 0, 0) url("../images/bg-login.jpg") no-repeat scroll 0 0 / cover !important;*/
	background: rgba(140, 200, 200, 1) !important;
	overflow: hidden;
	 
}
.login-logo a{
	color: #FFF;
	text-shadow: 1px 1px 1px #1e0303;
}

.login-box-body{
	background: rgba(255, 255, 255, 0.8) none repeat-x scroll 0 0;
	 color: #333;
}

.search-form{
	margin: 10px;
}

.table .sort-link {
	color: #333;
}

.table .sort-link:hover {
	color: #555 !important;
}

.tab-content > .active, .pill-content > .active {
	display: table;
}

.no-table{
	margin: 3px;
}

.ui-autocomplete {
	position: absolute;
	cursor: default;
	z-index:30 !important;
	max-height: 220px;
	overflow-y: scroll;
}

.labels {
	color: red;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 40px;     
	border: 2px solid black;
	white-space: nowrap;
}

.form-group .bootstrap-select button.btn-default{
	background-color: #FFFFFF !important;
}

.radio{
	padding-left: 25px !important;
}

.td-bold td{
	font-weight: bold;
	background-color: #EDEDED;
}

#info-perusahaan .row{
	padding: 10px 0;
}

#info-perusahaan .form-actions{
	padding-top: 5px;
}

.main-header{
	background-color: #43A047;
}

.table .sort-link:hover {
	color: #555 !important;
}
.main-header .logo .logo-lg{
	color: #FFF;
}
.skin-blue .main-header .logo,.skin-blue .main-header .logo:hover{
	background-color: #2A692D;
}

.navbar {
	margin-bottom: 0px;
	position: relative;
	min-height:26px;
}

.main-header .sidebar-toggle{
	background: #43A047;
}
.main-header .sidebar-toggle:focus, .main-header .sidebar-toggle:active{
	background: #43A047;
}

.skin-blue .main-header .navbar{
	background: none;
}

/*  bhoechie tab  report pimpinan*/
.wrapper{
	background: #EDEDED;
}
.main-heheader, .header-left, .header-right{
	display: table;
	width: 100%;
}

.box-head{
	border-bottom: 1px solid #fff;
}
.box-bread{
	background: #ccc;
	margin-bottom: 15px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #A39E9E;
}
.breadcrumb{
	margin-bottom: 0;
	background: none;
	padding: 1px 15px;
}
.breadcrumb a{
	color: #fff;
}
.breadcrumb > li + li::before{
	color: #fff;
}
.breadcrumb > .active{
	color: #fff;
}